<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addShipServlet</servlet-name>
        <servlet-class>Servlet.addShipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCaptainsServlet</servlet-name>
        <servlet-class>Servlet.addCaptainsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCaptainServlet</servlet-name>
        <servlet-class>Servlet.searchCaptainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>Servlet.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaffServlet</servlet-name>
        <servlet-class>Servlet.addStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>Servlet.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTravelServlet</servlet-name>
        <servlet-class>Servlet.addTravelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addShippingServlet</servlet-name>
        <servlet-class>Servlet.addShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>Servlet.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shippingInServlet</servlet-name>
        <servlet-class>Servlet.shippingInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shippingOutServlet</servlet-name>
        <servlet-class>Servlet.shippingOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addShipServlet</servlet-name>
        <url-pattern>/addShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCaptainsServlet</servlet-name>
        <url-pattern>/addCaptains</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCaptainServlet</servlet-name>
        <url-pattern>/searchCaptain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaffServlet</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTravelServlet</servlet-name>
        <url-pattern>/addTravel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addShippingServlet</servlet-name>
        <url-pattern>/addShipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shippingInServlet</servlet-name>
        <url-pattern>/shippingInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shippingOutServlet</servlet-name>
        <url-pattern>/shippingOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
